#fitem_id_edu_url {
    display: none;
}

#fitem_id_object_url {
    display: none;
}

#fitem_id_edu_edit_mode {
    display: none;
}

#edusharing_view_container {
    display: flex;
    align-items: center;
    justify-content: center;

    .edu-sharing-render:has(.module-H5P) {
        width: 90%;

        .module-H5P {
            aspect-ratio: 16 / 9;
        }
    }

    .edu-sharing-render:has(.module-IMAGE) {
        width: 40%;
    }

    .edu-sharing-render:has(.module-VIDEO) {
        width: 60%;
    }

    .edu-sharing-render:has(.module-PDF) {
        width: 80%;
    }
}
