#fitem_id_edu_url {
    display: none;
}

#fitem_id_object_url {
    display: none;
}

#fitem_id_edu_edit_mode {
    display: none;
}

#edusharing_view_container {
    display: flex;
    align-items: center;
    justify-content: center;
}
