<div id="edusharing_view_container">
    <div id="edusharing_view"
         data-node="{{nodeId}}"
         data-container="{{containerId}}"
         data-version="{{version}}"
         data-usage="{{usage}}"
         data-resource="{{resourceId}}">
    </div>
</div>
